body {
    margin: 0;
    font-family: Akrobat;
}

#map {
    height: 100vh;
    width: 100vw;
}



.legend {
    position: fixed;
    bottom:3%;
    background: rgba(255, 255, 255, 0.893);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    width: 15%px;
    height: 80%; /* Establecer altura fija */
    overflow-y: auto; /* Hacer que sea desplazable */
}

.imagenLogo {
    position: fixed;
    top:0%;
    right: 1%;
    width: 170px; /* Ajusta el tamaño más pequeño */
    height: auto;
    z-index: 1000;
    
}






/* Botón para añadir capas */
.add-layer-button {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 2px solid black;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.add-layer-button:hover {
    background-color: #f80505;
    color: white;
}

/* Estilo de la casilla de color para cada capa */
.layer-color {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
}

.custom-icon div {
    border-radius: 20%;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    font-size: 12px; /* Make the font size smaller for labels */
}

.checkbox-container input {
    margin-right: 8px;
}


.tituloLeyenda {
    display: flex;
    align-items: center; /* Centra verticalmente */
    padding: 5px 10px;
}
.tituloLeyenda h3 {
    margin: 0; /* Elimina márgenes extra */
}





.tablinks.active {
    background-color: #f80505;
    color: white;
}


.remove-button {
    background: transparent;
    border: none;
    cursor: pointer;
    color: red;
    font-weight: bold;
    right: 0%;
    
}


.checkbox-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}



.checkbox-container button {
    background: transparent;
    border: none;
    cursor: pointer;
    color: red;
    font-weight: bold;
}

.botonAgrupar{
    display: flex;
    align-items: center; /* Centra verticalmente */
    padding: 10px 10px;
    border-bottom: 1px solid #ccc; /* Línea sutil para separar */
}